[submodule "schematron-impl"]
	path = schematron-impl
	url = https://github.com/webb/schematron-impl.git
	branch = schematron-xslt-only
[submodule "share/schematron-schema"]
	path = schematron-schema
	url = https://github.com/webb/schematron-schema.git
	branch = 2016
